.page-header
  %h1 Provider Setup

%p Click to bootstrap your provider resources (including security groups and key pairs).

= form_tag("/setup", method: "post") do
  = submit_tag "Bootstrap provider resources", class: "btn btn-warning"
