- flash.each do |name, msg|
  = content_tag :div, :class => "alert alert-#{bootstrap_class_for_flash_name(name)} alert-dismissable" do
    %button.close{:type => "button", :data => {:dismiss => "alert"}, :aria => {:hidden => "true"} } &times;
    = msg
